<div class="container">
  <h1>Edit task</h1>
  <%= render 'form', task: @task %>

  <div class="col-xs-12">
    <div class="row">
      <hr>
      <%= link_to tasks_path do%>
        <i class="fas fa-undo"></i> Back to list
      <% end %>
    </div>
  </div>
</div>
